site_name: ""
site_url: https://docs.productscience.app
repo_url: https://docs.productscience.app
edit_uri: edit/main/docs
copyright: Copyright Product Science Inc. All rights reserved.
site_description: >-
  Learn to configure and use Product Science

# Content
nav:
  - Home: index.md
  - Capabilities:
    - Text Generation Test: Capabilities/Text-generation.md
  - CodeTuner for Cloud:
      - Overview: cloud/overview.md
      - Integration:
          -  Common: cloud/integration/integration.md
          - JVM Agent: cloud/integration/jvm-agent.md
      - Usage: cloud/usage.md
      - Release Notes:
          -  Supported JAVA frameworks: cloud/release-notes/release-note-1.md
  - CodeTuner for Mobile:
      - Overview: mobile/overview.md
      - Integration:
          - Android:
              - Build / Gradle: mobile/integration/android/gradle.md
              - CICD / Gradle: mobile/integration/android/cicd.md
              - CLI Tool: mobile/integration/android/cli-tool.md
              - Integration FAQ: mobile/integration/android/integration-faq-android.md
              - User Flow Annotation: mobile/integration/android/user-flow.md
          - iOS:
              - Build / Xcode: mobile/integration/ios/xcode.md
              - Build / Bazel: mobile/integration/ios/bazel.md
              - App Distribution: mobile/integration/ios/distribution.md
      - Device Set-Up:
          - Android: mobile/device-set-up/android.md
          - iOS: mobile/device-set-up/ios.md
      - Record + Upload:
          - Android: mobile/record-n-upload/android.md
          - iOS: mobile/record-n-upload/ios.md
      - Release Notes:
          - Frame Drop Visualization for Android: mobile/release-notes/Frame-Drop-Visualization-for-Android.md
          - Product Analytic Tags: mobile/release-notes/Product-Analytic-Tags.md
          - Quick Start Guide: mobile/release-notes/Quick-Start-Guide.md
          - R1.4 - Annotations: mobile/release-notes/R1.4-Annotations.md
          - R1.3 - Video: mobile/release-notes/R1.3-Video.md
          - R1.2 - Admin: mobile/release-notes/R1.2-Admin.md
          - R1.1 - New UX & UI: mobile/release-notes/R1.1-New-UX-&-UI.md


  - Regression Analysis:
      - Overview: ra/overview.md
      - API: ra/api.md
      - cURL example: ra/example.md




# Visual
theme:
  name: material
  custom_dir: overrides
  logo: images/logo-text.svg
  favicon: images/Icon.png
  font:
    text: Manrope
  palette:
    # Light mode
    # media: "(prefers-color-scheme: light)"
    - scheme: default
      primary: white
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  include_search_page: false
  language: en
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.expand
    - navigation.top
    - content.code.annotate
    - navigation.indexes
    - navigation.tracking
    - search.suggest
#    - toc.integrate

markdown_extensions:
  - footnotes
  - admonition
  - attr_list
  - toc
  # https://facelessuser.github.io/pymdown-extensions/
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

plugins:
  - minify:
      minify_html: false
  - search
  - macros:
      modules: ["ps-plugin"]
  - mkdocs-video:
      is_video: true
      video_muted: true
      video_controls: true
      css_style:
        width: "50%"
  - redirects:
      redirect_maps:
        'integration/android/gradle.md': 'mobile/integration/android/gradle.md'
        'integration/android/cicd.md': 'mobile/integration/android/cicd.md'
        'integration/android/cli-tool.md': 'mobile/integration/android/cli-tool.md'
        'integration/android/integration-faq-android.md': 'mobile/integration/android/integration-faq-android.md'
        'integration/android/user-flow.md': 'mobile/integration/android/user-flow.md'
        'integration/ios/xcode.md': 'mobile/integration/ios/xcode.md'
        'integration/ios/bazel.md': 'mobile/integration/ios/bazel.md'
        'integration/ios/distribution.md': 'mobile/integration/ios/distribution.md'
        'record-n-upload/ios.md': 'mobile/record-n-upload/ios.md'
        'device-set-up/ios.md': 'mobile/device-set-up/ios.md'
        'device-set-up/android.md': 'mobile/device-set-up/android.md'

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/product-science-inc/
